<?xml version='1.0' encoding='UTF-8'?>
<Server port="-1">
  <Listener className="org.apache.tomee.catalina.ServerListener" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
 
  <Service name="Catalina">
    <Connector port="${tomee.cf.http}" protocol="org.apache.coyote.http11.Http11NioProtocol"
               connectionTimeout="20000"  />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true" />
    </Engine>
  </Service>
</Server>